* {
  margin:0; padding:0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
}

body {
  font-family: 'Kanit', sans-serif;
}

img {
  max-width:500px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ROOT */

:root {
  --hue:174;
  --main:hsl(var(--hue) 54% 36%);
  --medium:hsl(var(--hue) 50% 50%);
  --light:hsl(var(--hue) 77% 78%);
  --main-alt:hsl(var(--hue) 39% 25%);
  --dark:hsl(0, 95%, 8%);
  --black:hsl(0, 0%, 5%);
  --white:white;
  /* colors hex */
  /* --1:hsl(174, 54%, 36%);
  --2:hsl(174, 50%, 50%);
  --3:#9cf2e9;
  --4:hsl(169, 39%, 25%);
  --5:hsl(0, 95%, 8%); */
}

/* BUTTON TO TOP */

.a-top {
  position:fixed;
  right:0;
  bottom:0;
  margin:1rem;
  visibility: hidden;
  opacity: 0;
  transition:.4s;
}
.a-top button {
  background:none;
  border:none;
  display:inline-flex;
}
.a-none {
  opacity: 1;
  visibility: visible;
  transition:.4s;
}

/* LAYOUT */

.header {
  padding-block:1rem;
}

.content {
  display:grid;
  gap:1rem;
}

/* GRID COLUMNS */
.one-column {
  grid-template-columns: 1fr;
}
.two-columns {
  grid-template-columns: 1fr 1fr;
}

/* PHARAGRAPH */
.content p {
  max-width:500px;
  padding:.3rem;
  background-color:var(--black);
  color:var(--white);
  border-radius:.2rem;
  transition:.3s;
}
.content p:hover {
  background-color:var(--dark);
}
/* ASIDE SPAN */
.content aside span {
  color:var(--main);
}
/* ~~ */

.wrapper {
  max-width:1000px;
  margin-inline:auto;
  padding-inline:1rem;
}

.divider {
  height: 1px;
  margin-block:1.5rem;
  background:#ccc;
}

/* SCROLLBAR CUSTOM */

/* .over::-webkit-scrollbar {
  width:15px;
}

.over::-webkit-scrollbar-track {
  background:var(--medium);
}

.over::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

.over {
  height:20rem;
  overflow-y:auto;
} */

/* NAVIGATION */

#nav .bg-close {
  content: '';
  position:fixed;
  top:0; left:0;
  z-index: 1;
  width:100vw; height:100vh;
  background:var(--black);
  opacity: 0;
  visibility: hidden;
}

#nav {
  position:fixed;
  bottom:-15.5rem;
  z-index: 10;
  padding:1rem;
  background:var(--black);
  border-top-right-radius: .5rem;
  transition:.3s;
}

#nav header {
  color:var(--white);
  position:relative;
  z-index: 10;
}
#nav .title {
  display:flex;
  align-items: center;
  gap:.5rem;
}
#nav .title img {
  width:25px;
}

#nav .nav-up {
  position:absolute;
  top:-140%; left:20%;
  transform:translateX(-50%);
  background:var(--main-alt);
  border-top-left-radius:.5rem; border-top-right-radius:.5rem;
  font-size:2.5rem;
  transition:.3s;
}
#nav .nav-up.none {
  opacity: 0;
  visibility: hidden;
  transition:.3s;
}

#nav .nav-close {
  color:var(--white);
  font-size:1.5rem;
  position: absolute;
  right:0;
}

#nav .point {
  cursor: pointer;
}

#nav .menu {
  margin-top:1rem;
  position:relative;
  z-index: 10;
}

#nav .menu a {
  display:block;
  padding:.52rem;
  font-weight: 600;
  letter-spacing: .03rem;
  color:var(--main);
  border-radius:.5rem;
}
#nav .menu a:hover {
  background:#222222;
}

/* MAIN HEADER */

#main-head {
  height:12.5rem;
  line-height: 12.5rem;
  text-align: center;
  background:var(--main);
}
#main-head h2 {
  font-size:3rem;
  color:var(--white);
}

/* OPERADORES COMPARATIVOS */

/* #opcomp .content p {
  max-width:500px;
  padding:.3rem;
  background-color:var(--black);
  color:var(--white);
  border-radius:.2rem;
  transition:.3s;
}
#opcomp .content p:hover {
  background-color:var(--dark);
} */


/* MEDIA QUERIES */

@media (max-width:786px) {
  .wrapper {
    padding-inline:.5rem;
  }
  img {
    width: 100%;
  }

  .content {
    justify-items: center;
  }
  .content p {
    width:90vw;
  }
  .two-columns {
    grid-template-columns: 1fr;
  }
}

@media (max-width:385px) {
  #main-head {
  width:100%;
  line-height: 1;
  padding-inline: 1rem;
  display: inline-flex;
  align-items: center;
  text-align: left;
}
  #main-head h2 {
    font-size:2rem;
  }
}
